#login {
    width: 350px;
    height: 300px;
    max-width: 500px;
    max-height: 450px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 15px;
    position: absolute; /* Permite o uso de top e left */
    top: 50%; /* Alinha ao meio verticalmente */
    left: 50%; /* Alinha ao meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o centro do elemento */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil */
}

input{
    border-radius: 1rem !important;
}

.nav-link:hover{
    background-color: black;
}

.icon{
    position: relative;
    color: black;
}

.icon i{
    font-size: 48px;
    transition: transform 0.3s ease;
}

.icon i:hover{
    transform: scale(1.2);
}

.text{
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 22px;
}

.icon i:hover .text{
    opacity: 1;
}