#login {
    width: 350px;
    height: 300px;
    max-width: 500px;
    max-height: 450px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 15px;
    position: absolute; /* Permite o uso de top e left */
    top: 50%; /* Alinha ao meio verticalmente */
    left: 50%; /* Alinha ao meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o centro do elemento */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil */
}

.nav-link:hover{
    background-color: black;
}

.btn-expand-icon {
    display: flex;
    gap: 4px;
    max-width: 45px;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;
    white-space: nowrap;
}

.btn-expand-icon i {
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out;
}

.btn-expand-icon .text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btn-expand-icon:hover {
    max-width: 120px; /* aumenta a largura ao hover */
}

.btn-expand-icon:hover .text {
    opacity: 1;
}

.btn-expand-icon:hover i {
    transform: scale(1.2);
}